<!DOCTYPE html>
</html>
    <head>
        <title>Customer</title>
        <link href="/../css/style.css" rel="stylesheet">
        <script type="text/javascript" src="/../js/all.js"></script>
    </head>
    <body>
        <div id="wrapper">
            <div class='logo'>
                <img src="/../images/logo.jpg" width="100">
            </div>
            <div class="page-header"><h2><%= page_title %></h2></div>
            <div class="page-container">
